root = true

[*]
# Change these settings to your own preference
indent_size = 2
indent_style = space
quote_type= single

# We recommend you to keep theese unchaged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[{*.json,*yml}]
indent_size = 2
indent_style = space
